<section class="menu cid-s9hTYt6pfW" once="menu" id="menu1-37">
	<nav
		class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<div class="hamburger">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</button>
		<div class="menu-logo">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="/">
						<img src="assets/images/full-red-cgw-logosvg.svg" alt="Cougars Gone Wired"
							title="Cougars Gone Wired Logo" style="height: 4rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-secondary display-4"
						href="/">Cougars Gone Wired</a></span>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
				<li class="nav-item">
					<a class="nav-link link text-white display-4" href="/">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link link dropdown-toggle text-white display-4" href="about-us.html"
						data-toggle="dropdown-submenu" aria-expanded="false">About Us</a>
					<div class="dropdown-menu">
						<a class="dropdown-item text-white display-4" href="summer-camp.html" aria-expanded="false">Summer
							Camp</a>
						<a class="dropdown-item text-white display-4" href="first.html">FIRST &amp; Game History</a>
						<a class="dropdown-item text-white display-4" href="memorial.html">Memorial</a>
					</div>
				</li>
				<li class="nav-item"><a class="nav-link link text-white display-4" href="resources.html"
						aria-expanded="true">Resources</a></li>
				<li class="nav-item"><a class="nav-link link text-white display-4" href="sponsors.html"
						aria-expanded="false">Sponsors</a></li>
			</ul>
			<a href="calendar.html" class="navbar-nav">
				<img src="assets/images/calendar.svg" alt="Calendar" title="Calendar"
					style="max-height: 45px;margin-left: 1em;margin-right: 1em;align-self: center;">
			</a>
			<div class="navbar-buttons mbr-section-btn">
				<a class="btn btn-sm btn-secondary display-4" href="join.html">HOW TO JOIN</a>
			</div>
		</div>
	</nav>
</section>
